//---------------------------------------- fonts
$font-base: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;

//---------------------------------------- font sizes 16 18 20 24 28

$fs--small: 16px;
$fs--medium: 18px;
$fs--image-small: 20px;
$fs--heading: 24px;
$fs--image-big: 28px;
$fs--heading-big: 36px;

//---------------------------------------- colors
$color-primary: #f03000;
$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-news-date: #888888;
$color-bcg-light: #f0f0f0;
$color-bcg-dark: #444444;

$gap: 20px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 440px;
  margin: 0 auto;
}

// ---------------------------------------- navigation
.nav__logo {
  display: block;
  margin-top: 30px;
  text-align: center;
  min-height: 30px;
}

.nav__list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  font-family: $font-base;
  padding: 10px;
}

.nav__link:link,
.nav__link:visited {
  color: $color-primary;
}

.nav__link:hover,
.nav__link:active {
  background-color: $color-primary;
  color: $color-text-light;
}

// ---------------------------------------- tour

.tour {
  display: grid;
  gap: $gap;
}

.tour__image--big {
  background-image: url(../images/palmy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 240px;
  position: relative;
}

.tour__image--small.tour__image--top {
  background-image: url(../images/jezero2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  position: relative;
}

.tour__image--small.tour__image--bottom {
  background-image: url(../images/nakole.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  position: relative;
}

.tour__price {
  display: inline-block;
  padding: 10px;
  font-family: $font-base;
  background-color: $color-primary;
  color: $color-text-light;
  position: absolute;
  top: 20px;
  left: 20px;
}

.tour__title {
  color: $color-text-light;
  letter-spacing: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-shadow: 2px 2px 10px $color-text-dark;
}

a.tour__title--big:link,
a.tour__title--big:visited {
  color: $color-text-light;
  text-decoration: none;
}

a.tour__title--big:hover,
a.tour__title--big:active {
  color: $color-primary;
  text-decoration: none;
}

.tour__title--big {
  font-family: $font-base;
  font-size: $fs--image-big;
  font-weight: 600;
  margin-bottom: 20px;
}

.tour__subtitle {
  margin-top: 10px;
  font-family: $font-secondary;
  font-size: $fs--small;
}

.tour__title--small {
  font-family: $font-base;
  font-size: $fs--image-small;
  font-weight: 600;
}

// ---------------------------------------- services
.services {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: $gap;
}

.services__item {
  display: flex;
  padding: 20px 20px;
  background-color: $color-bcg-light;
  gap: 30px;
}

img.services__icon {
  width: 25px;
  height: 32px;
}

.services__title {
  font-family: $font-base;
  font-size: $fs--medium;
  color: $color-primary;
  margin-bottom: 16px;
}

.services__paragraph {
  font-family: $font-secondary;
  font-size: $fs--small;
}

// ---------------------------------------- tour last-minute
.tour__heading {
  margin-top: 50px;
  font-family: $font-base;
  font-size: $fs--heading;
  font-weight: 600;
}

.tour-last-minute__image--big {
  background-image: url(../images/lodicka.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 240px;
  position: relative;
}

.tour-last-minute__image--small.tour__image--top {
  background-image: url(../images/podkova.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  position: relative;
}

.tour-last-minute__image--small.tour__image--bottom {
  background-image: url(../images/zatoka.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  position: relative;
}
// ---------------------------------------- news

.news__heading {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: $font-base;
  font-size: $fs--heading;
  font-weight: 600;
}

.news__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: $color-bcg-light;
  font-family: $font-base;
  font-size: $fs--small;
  font-weight: 500;
  gap: 10px;
}

.news__date {
  color: $color-news-date;
}

.news__title {
  color: $color-primary;
}

// ---------------------------------------- footer

.footer {
  padding: 20px;
  background-color: $color-bcg-dark;
  font-family: $font-base;
  color: $color-text-light;
  font-size: $fs--small;
  text-align: center;
}

// ------------------ TABLET ------------------
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 728px;
  }

  // ---------------------------------------- navigation
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 30px auto;
  }

  .nav__logo {
    margin-top: 0;
    margin-left: 10px;
  }

  .nav__list {
    margin-top: 0;
    margin-bottom: 0;
    gap: 30px;
  }

  // ---------------------------------------- tour

  .tour__heading {
    margin-bottom: 20px;
  }
  .tour {
    grid-template-columns: repeat(2, 354px);
    grid-template-rows: repeat(3, 180px);
  }

  .tour__image--big,
  .tour-last-minute__image--big {
    grid-area: 1 / 1 / 3 / 3;
  }

  // ---------------------------------------- services
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services__item {
    flex-direction: column;
    align-items: center;
  }

  img.services__icon {
    width: 40px;
    height: 40px;
  }

  .services__text {
    text-align: center;
  }

  .footer {
    margin-top: 40px;
  }
}

// ------------------ PC ------------------

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: 960px;
  }

  // ---------------------------------------- tour

  .tour {
    grid-template-columns: repeat(3, 306.66px);
    grid-template-rows: repeat(2, 180px);
  }

  // ---------------------------------------- services

  .services {
    grid-template-columns: repeat(4, 1fr);
  }
}

// ---------------------------------------- ZÁJEZD
// ---------------------------------------- vacation

.vacation {
  margin-bottom: 30px;
  display: grid;
  gap: $gap;
}

.vacation__image--big {
  background-image: url(../images/palmy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 240px;
  position: relative;
}

.vacation__title {
  color: $color-text-light;
  letter-spacing: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-shadow: 2px 2px 10px $color-text-dark;
}

.vacation__title--big {
  font-family: $font-base;
  font-size: $fs--image-big;
  font-weight: 600;
  margin-bottom: 20px;
}

.vacation__subtitle {
  font-family: $font-secondary;
  font-size: $fs--small;
}

// ---------------------------------------- info

.vacation__info {
  padding: 20px;
  background-color: $color-bcg-light;
  font-family: $font-secondary;
  font-size: $fs--small;
}

.info__heading {
  margin-bottom: 10px;
  color: $color-news-date;
  text-transform: uppercase;
}

.vacation__price {
  padding: 20px;
  font-family: $font-secondary;
  background-color: $color-primary;
}

.vacation__price--number {
  font-size: $fs--image-big;
  color: $color-text-light;
}

// ---------------------------------------- vacation about

.vacation__heading {
  font-family: $font-secondary;
  font-size: $fs--heading;
  margin: 20px auto 20px auto;
}

.vacation__about {
  font-family: $font-secondary;
}

// ---------------------------------------- gallery

.vacation__gallery {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vacation__image--small.vacation__image--first {
  background-image: url(../images/d_plazicka.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
}
.vacation__image--small.vacation__image--second {
  background-image: url(../images/d_plazicka2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
}
.vacation__image--small.vacation__image--third {
  background-image: url(../images/d_plazicka3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
}
// ---------------------------------------- footer

.footer {
  margin-top: 30px;
}

// ------------------ TABLET ------------------
@media screen and (min-width: 768px) {
  .vacation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .vacation__image--big {
    grid-column: 1 / 3;
  }

  .vacation__gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// ---------------------------------------- TEXTOVÁ STRÁNKA
// ---------------------------------------- article
.textpage__main-heading {
  margin-bottom: 30px;
  color: $color-primary;
  font-family: $font-base;
  font-size: $fs--heading-big;
}

.textpage__main-heading::before {
  content: "";
  display: block;
  margin: 50px auto 30px auto;
  width: 440px;
  height: 2px;
  background-color: $color-primary;
}
.textpage__paragraph {
  margin-bottom: 20px;
  font-family: $font-secondary;
}

.textpage__heading {
  margin-bottom: 20px;
  font-family: $font-base;
  font-size: $fs--heading;
}

.textpage__photo {
  background-image: url(../images/tp_italy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-bottom: 20px;
}

// ---------------------------------------- last-minute

.tour-last-minute__image--textpagetop {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(../images/lodicka.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  position: relative;
}

.tour-last-minute__image--small.tour__image--top {
  margin-bottom: 20px;
}

// ------------------ TABLET ------------------
@media screen and (min-width: 768px) {
  .textpage__main-heading::before {
    content: "";
    display: block;
    margin: 50px auto 30px auto;
    width: 728px;
    height: 2px;
    background-color: $color-primary;
  }

  .textpage__sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
  }

  .tour-last-minute__image--textpagetop {
    grid-column: 1 / 3;
    margin-bottom: 0;
    margin-top: 0;
  }

  .tour-last-minute__image--small.tour__image--top {
    margin-bottom: 0;
  }
}

// ------------------ PC ------------------

@media screen and (min-width: 960px) {
  .textpage__main-heading::before {
    content: "";
    display: block;
    margin: 50px auto 30px auto;
    width: 960px;
    height: 2px;
    background-color: $color-primary;
  }

  .textpage__photo {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 500px;
  }

  .textpage__sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gap;
  }

  .tour-last-minute__image--textpagetop {
    grid-column: 1 / 2;
  }
}
